In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
pwd #esto para ver dónde se encuentra el bloc

'/home/fero/PythonCours'

In [3]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["W","X","Y","Z"])
df

          W         X         Y         Z
A  0.235452  0.069224 -1.212754  0.787027
B -0.679721 -0.271846  0.518502  0.093805
C -0.401421 -2.221989  0.120702  0.267568
D -2.058191  0.955909  0.387841  0.008852
E  0.268078 -1.041129 -1.439324 -0.523664

In [24]:
print(df["W"].mean())
print(df.mean(axis=1)) #estp si deseamos sacar el primedio de las filas :)

-0.5271602522526191
A   -0.030263
B   -0.084815
C   -0.558785
D   -0.176397
E   -0.684010
dtype: float64

In [25]:
data = pd.read_html("http://www2.udec.cl/~alualem/ingles/lvi.html")

In [26]:
type(data)

list

In [27]:
data[1].head #aquí le puse uno, dado que la página es algo extraña, jajaja, quiero que me de la tabla

<bound method NDFrame.head of               0          1           2                                 3
0    INFINITIVO     PASADO  PARTICIPIO                       SIGNIFICADO
1         arise      arose      arisen     Elevarse, surgir, originarse.
2         awake      awoke      awoken        Despertar, mover, excitar.
3          bear       bore        born      Soportar, sostener, tolerar.
4          beat       beat      beaten  Batir,revolver, golpear, vencer.
..          ...        ...         ...                               ...
134         win        Won         won                Ganar, conquistar.
135        wind      Wound       wound  Enroscar(se), serpentear, girar.
136    withdraw   Withdrew   withdrawn     Retirar, retractarse, quitar.
137   withstand  Withstood   withstood     Resistir, oponerse, soportar.
138       write      Wrote     written                         Escribir.

[139 rows x 4 columns]>

In [7]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine("sqlite:///:memory:")

In [10]:
df.to_sql("My_table2.1. esta es la buena jeje",engine)

In [11]:
sqldf = pd.read_sql("My_table2.1. esta es la buena jeje", con = engine)

In [12]:
sqldf

  index         W         X         Y         Z
0     A  0.837654 -0.861428 -0.064196  0.487150
1     B  0.102367  1.173818  0.221479 -0.270052
2     C -0.607845 -0.221349  1.705848  0.008847
3     D  1.072269  0.966611  1.104636 -0.270020
4     E  1.653565 -1.527303 -0.411298 -0.176164