In [1]:
import numpy as np
import pandas as pd

In [2]:
#index levels
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
df = pd.DataFrame(np.random.randn(6,2), hier_index,["A", "B"])     #veamos que (contenido_de_la_tabla, filas, columnas)
df

             A         B
G1 1  1.860022  1.350776
   2 -0.395500 -0.868739
   3 -0.829235  1.018228
G2 1  2.602453  0.528956
   2 -0.554425 -0.012691
   3  0.090554  1.201126

In [6]:
df.loc["G1"]

          A         B
1  1.860022  1.350776
2 -0.395500 -0.868739
3 -0.829235  1.018228

In [7]:
df.loc["G2"]

          A         B
1  2.602453  0.528956
2 -0.554425 -0.012691
3  0.090554  1.201126

In [19]:
df.loc["G1",1]

A    1.860022
B    1.350776
Name: (G1, 1), dtype: float64

In [11]:
#veamos si el índice tiene nombres
df.index.names #veamos que nos dice [None,None] pq tenemos dos índices

FrozenList([None, None])

In [13]:
df.index.names = ["Groups", "Numbers"]

In [14]:
df

                       A         B
Groups Numbers
G1     1        1.860022  1.350776
       2       -0.395500 -0.868739
       3       -0.829235  1.018228
G2     1        2.602453  0.528956
       2       -0.554425 -0.012691
       3        0.090554  1.201126

In [15]:
df.index.names

FrozenList(['Groups', 'Numbers'])

In [20]:
df.loc["G1",1]["B"] #o bien también funciona df.loc["G1"].loc[1]["B"]

1.3507763650491629

In [23]:
df.xs(2, level="Numbers")#del índice Numbers nos da el renglón que esté declarado como 2, esto con la funció .xs

               A         B
Groups
G1     -0.395500 -0.868739
G2     -0.554425 -0.012691